<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.naveenautomationlabs.AutomationFrameWork.Listeners.CustomListener"/>
<listener class-name="com.naveenautomationlabs.AutomationFrameWork.Listeners.TransformerForRetry"/>
<listener class-name="com.naveenautomationlabs.AutomationFrameWork.Listeners.ExtendReportListener"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="naveenautomationlabs.AutomationFramework.Test.AppleCinema30Test"/>
     
      <class name="naveenautomationlabs.AutomationFramework.Test.MyAccountInformationTest"/>
      <class name="com.naveenautomationlabs.AutomationFrameWork.base.TestBase"/>
      <class name="naveenautomationlabs.AutomationFramework.Test.YourStoreTest"/>
      <class name="naveenautomationlabs.AutomationFramework.Test.MonitorsPageTest"/>
      <class name="naveenautomationlabs.AutomationFramework.Test.MyAccountSideNavigationTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
